.skip-link{
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
    z-index: 1001;
}
header{
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--bg-transparent);
    backdrop-filter: blur(0.5rem);
    z-index: 1000;
}

header a {
    text-decoration: none;
    color: var(--text);
    border-color: transparent;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 2rem;
}